/* 1140 desktop */
@media screen and (max-width: 1140px) {
  .steps {
    width: 100%;
  }
}

/* 768 tablet */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .steps {
    min-width: 100%;
  }
}

/* 480 smartphone */

@media screen and (max-width: 480px) {
  .site-header {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  .row {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }

  .lessons {
    min-width: 100%;
  }

  .col {
    min-width: 100%;
  }

  .card,
  .card img {
    min-width: 100%;
  }

  .steps {
    margin-bottom: 0;
    min-width: 100%;
  }

  .why-us {
    background-color: #222222;
    padding: 3rem 0;
    min-width: 100%;
    margin-bottom: 0;
  }

  .why-us h2 {
    color: white;
    font-size: 2.5rem;
  }

  .why-us p {
    color: #7b809a;
  }
}
