.container {
  width: 100%;
}
/* 768 tablet */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }
}

/* 480 smartphone */

@media screen and (max-width: 480px) {
  .row {
    flex-direction: column;
  }
  .lessons .col,
  .steps .col,
  .why-us .col {
    width: 100%;
  }

  .steps {
    margin-bottom: 0;
  }

  .why-us {
    background-color: #222222;
    margin-bottom: 0;
    padding: 3rem 0;
  }
}
